h1, p {
  font-family: Lato;
}

/* Header/logo Title */
.header {
  background-color: #000000;
  padding: 10px;
  height: 20px;
}
/*Header text*/
.header-txt{
  z-index: 5;
  width: 100%;
  height: 10px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 2px;
  text-align: center;
  letter-spacing: 2px;
}
/* Navbar */
.navbar {
  z-index: 3;
  width: 1440px;
  height: 125px;
  font-family: "Open Sans";
}
/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
/* Main Content */
.side {
  -ms-flex: 30%; 
  flex: 30%;
  background-color: #ffffff;
  padding: 20px;
  display: inline-block;
  }
.main-content .price{
  float:right;
  position: relative;
  left: 100px;
}
.main-content .product-name{
  float:left;
  font-weight: bold;
  font-size: 20px;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #000000
}

.customCheckbox{
    float:left;
    width:30px;
    height: 30px;
    border-radius:50%;
}

.listStyle{
  list-style-type: none;
  display: flex;
}

.colorBorder{
  border: 1px solid #d6d6d6
}

.colorMargin{
  margin-left:30px;
}

.colorPanel{
  width: 30%;
  border: 1px solid lightgrey;
}

.buttonPanel{
  color: black;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-size: larger;
  margin-left: 110px;
}

.mainDivWidth{
  width: 50%;
}

.mainDiv{
  display: flex;
}